---
import Paragraph from "@components/text/Paragraph.astro";
import Subtitle from "@components/text/Subtitle.astro";
import { formatDate } from "@utils/formatDate";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
  spanAll?: boolean;
}

const { post, spanAll } = Astro.props;
const {
  slug,
  data: { title, publishDate, description, image },
} = post;
const formattedDate = formatDate(publishDate);
---

<div
  class="overflow-hidden bg-[#f4b168] rounded-md shadow-slate-200"
  class:list={{
    "md:col-span-2": spanAll,
  }}
>
  <!-- Image -->
  <figure>
    <a href={`/blog/${slug}`}>
      <Image
        transition:name={slug}
        alt={image.alt}
        title={title}
        class="w-full aspect-video"
        height={600}
        src={image.src}
        width={800}
      />
    </a>
  </figure>
  <!-- Body-->
  <div class="p-6">
    <header class="mb-4">
      <Subtitle class="text-[#1e428f] font-black text-pretty">{title}</Subtitle>
      <time
        class="text-sm uppercase tracking-wider font-semibold text-[#555555]"
        >{formattedDate}</time
      >
    </header>
    <Paragraph class="max-w-full font-semibold text-start text-black/60">
      {description}
    </Paragraph>
  </div>
</div>
