---
import Paragraph from "@components/text/Paragraph.astro";
import Subtitle from "@components/text/Subtitle.astro";
import { formatDate } from "@utils/formatDate";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
  spanAll?: boolean;
}

const { post, spanAll } = Astro.props;
const {
  slug,
  data: { title, publishDate, description, image },
} = post;
const formattedDate = formatDate(publishDate);
const dateTime = new Date(publishDate).toISOString().split("T")[0];
---

<article
  class="overflow-hidden rounded-md bg-[#fde047] shadow-slate-200"
  class:list={{
    "md:col-span-2": spanAll,
  }}
>
  <a href={`/blog/${slug}`}>
    <div class="p-6">
      <header class="grid gap-2 mb-4">
        <Subtitle
          class="font-black text-black text-pretty"
          transition:name={slug}>{title}</Subtitle
        >
        <time
          class="text-sm font-semibold tracking-wider text-black uppercase opacity-60"
          datetime={dateTime}>{formattedDate}</time
        >
      </header>

      <Paragraph class="max-w-full font-semibold text-start text-black/75">
        {description}
      </Paragraph>
    </div>
  </a>
</article>
