---
import {ViewTransitions} from "astro:transitions";

interface Props {
  title: string;
  description: string;
  ogImage: string;
  canonicalUrl: string;
  type?: "website" | "article";
  publishDate?: Date;
}

const {
  title,
  description,
  ogImage,
  canonicalUrl,
  type = "website",
  publishDate,
} = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="dark">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content={description}/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="theme-color" content="#100720"/>
  <meta name="robots" content="index, follow"/>
  <meta name="author" content="Matías Delgado"/>
  <meta
      name="keywords"
      content="Matías Delgado, Desarrollador, Frontend, Backend, Software, Web, Blog, Artículos, Tutoriales, Programación, JavaScript, TypeScript, React, Node.js, Svelte, Astro, TailwindCSS, Vercel, Netlify, GitHub"
  />
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content={title}/>
  <meta name="twitter:description" content={description}/>
  <meta name="twitter:image" content={ogImage}/>
  <meta property="og:title" content={title}/>
  <meta property="og:description" content={description}/>
  <meta property="og:image" content={ogImage}/>
  <meta property="og:url" content={canonicalUrl}/>
  <meta property="og:site_name" content={title}/>
  <meta property="og:type" content={type}/>
  {
      publishDate && (
          <meta
              property="article:published_time"
              content={publishDate.toISOString()}
          />
      )
  }

  <link rel="canonical" href={canonicalUrl}/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <title>{title}</title>
  <ViewTransitions/>
</head>
<body class="relative overflow-x-hidden bg-primary-950">
<div
    class="absolute left-0 w-1 z-[999] bg-[#fde047] hidden lg:block"
    id="scrollIndicator"
>
</div>

<slot/>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  mark {
    background: none;
    @apply text-[#61ff00]  font-semibold;
  }

  .selected {
    @apply bg-black py-0.5;
  }


  html {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color-primary) #161719;
    @apply scroll-pt-24 scroll-smooth;
  }

  ::selection {
    @apply bg-black;
  }

  /* Fonts */
  @font-face {
    font-family: "Franie";
    src: url("/fonts/franie-regular.otf") format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Franie";
    src: url("/fonts/franie-bold.otf") format("opentype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Junction";
    src: url("/fonts/junction-regular.otf") format("opentype");
    font-weight: 400;
  }

  /* Layers */
  @layer base {
    :root,
    html[data-theme="dark"] {
      --background-primary: #100720;
      --text-color-primary: #fde047;
      --text-color-secondary: #e3e4e4;

      /* Paragraph */
      --text-color-paragraph: #dfe4e2;
      --text-color-paragraph-highlight: #61ff00;

      --icons-color: #cdf37c;

      /* Buttons */
      --primary-button-color: #31087b;
      --primary-button-border: #fa2fb5;
    }

    @layer components {
      .container {
        @apply max-w-4xl mx-auto;
      }

      .p-container {
        @apply px-6 lg:px-0;
      }

      .focus-outline {
        @apply outline-2 outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed;
      }
    }
  }
</style>
</body>
</html>
