---
import GithubIcon from "@components/icons/GithubIcon.astro";
import WWWIcon from "@components/icons/WWWIcon.astro";
import Pill from "@components/shared/Pill.astro";
import Paragraph from "@components/text/Paragraph.astro";
import Subtitle from "@components/text/Subtitle.astro";
import { Image } from "astro:assets";
import type { Project } from "./Projects.astro";

export interface Props {
  project: Project;
  isEven: boolean;
}

const { project, isEven } = Astro.props;
const { alt, code, mobileImage, tags, title, url, description, image, name } =
  project;
---

<article
  class="relative grid items-stretch w-full h-full gap-6 md:grid-cols-2 md:gap-0"
>
  <div
    class="flex flex-col items-center justify-center order-2 col-span-1 gap-6 p-container"
    class:list={{
      "md:order-1": isEven,
      "md:order-2": !isEven,
      "md:pl-8": !isEven,
      "md:pr-8": isEven,
    }}
  >
    <Subtitle class="font-bold">{name}</Subtitle>
    <Paragraph>{description}</Paragraph>
    <div class="flex flex-col items-center gap-4">
      <div class="flex flex-wrap items-center justify-center gap-2">
        {
          tags.map((tag) => {
            return <Pill>{tag}</Pill>;
          })
        }
      </div>
      <div class="flex flex-wrap items-center justify-center gap-2">
        <a
          href={url}
          class="flex items-center gap-2 px-4 py-2 font-bold text-white transition-colors duration-300 ease-in-out bg-gray-800 rounded-xl hover:bg-gray-900"
          target="_blank"
        >
          <WWWIcon class="w-6 h-6" />
          Visitar
        </a>

        <a
          href={code}
          class="flex items-center gap-2 px-4 py-2 font-bold text-white transition-colors duration-300 ease-in-out bg-gray-800 rounded-xl hover:bg-gray-900"
          target="_blank"
        >
          <GithubIcon class="w-6 h-6 stroke-white" />
          Código
        </a>
      </div>
    </div>
  </div>

  <div
    class="relative order-1 col-span-1 overflow-hidden md:p-container"
    class:list={{
      "md:order-2": isEven,
      "md:order-1": !isEven,
      "md:!pr-0": !isEven,
      "md:!pl-0": isEven,
    }}
  >
    <div
      class="absolute bottom-0 z-20 w-full bg-red-500 border-4 lg:left-0"
      style="border-image: linear-gradient(90deg, rgba(197,80,114,1) 2%, rgba(228,68,114,1) 50%, rgba(181,8,110,1) 100%) 1;"
      class:list={{
        "md:-left-[1.5rem]": isEven,
      }}
    >
    </div>
    <div
      class="w-full h-full transition-transform duration-500 ease-in-out transform lg:hover:scale-110"
    >
      <Image
        width={420}
        height={400}
        alt={alt}
        title={title}
        src={image}
        class="w-full object-cover max-h-[300px] h-[400px] lg:h-full md:max-h-fit shadow-xl hidden md:block"
        class:list={{
          "md:rounded-lg md:rounded-tr-none md:rounded-br-none": !isEven,
          "md:rounded-lg md:rounded-tl-none md:rounded-bl-none": isEven,
        }}
      />

      <Image
        width={420}
        height={400}
        alt={alt}
        title={title}
        src={mobileImage}
        class="w-full object-cover max-h-[300px] h-[400px] lg:h-full md:max-h-fit shadow-xl md:hidden"
        class:list={{
          "md:rounded-lg md:rounded-tr-none md:rounded-br-none": !isEven,
          "md:rounded-lg md:rounded-tl-none md:rounded-bl-none": isEven,
        }}
      />
    </div>
  </div>
</article>
